ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    align-items: top;
    margin: 60px;
    padding: 5px;
}

input {
    grid-column: 2;
    margin: 0;
}

label {
    grid-column: 1/2;
    width: auto;
    margin: 0;
    text-align: right;
}

p {
    grid-column: 1/3;
    text-align: center;
    margin: 0px;
}

#save {
    width: 15%;
}
